$HeaderHeight: 40rem;

.Root {
  @apply container m-auto p-4;
}

.HeaderBg {
  @apply absolute top-0 left-0 -z-10 w-full bg-black;

  height: $HeaderHeight;

  &_img {
    @apply absolute top-0 left-0 h-full w-full bg-cover bg-fixed bg-no-repeat opacity-30;

    background-image: url('/pexels-cottonbro-studio-4009409.jpg');
    background-position: center 75%;
  }
}

.Header {
  @apply flex flex-col justify-center gap-8;
  @apply md:w-2/3;

  height: $HeaderHeight - 6.5rem;

  &_h1 {
    @apply text-3xl font-bold text-slate-50 drop-shadow-sm;
    @apply md:text-5xl;
  }

  &_p {
    @apply text-xl font-semibold text-slate-300 drop-shadow-sm;
  }

  strong {
    @apply text-slate-50;
  }
}

.Content {
  @apply mt-8;
}

.Img {
  &_left {
    @apply float-left mr-8 mb-4;
  }

  &_right {
    @apply float-right ml-8 mb-4;
  }

  &_center {
    @apply m-auto w-full;
  }
}

.Section {
  @apply mb-24;
}

.H2 {
  @apply border-b-4 border-orange-400 pb-2 text-3xl font-bold after:clear-both;
}

.H3 {
  @apply border-b-2 border-slate-400 pb-2 font-bold after:clear-both;
}
